@model MediEval.Areas.Admin.Models.UserViewModel
@{
    ViewData["Title"] = "Manage Users";
    Layout = "_Layout";

}

<h1 class="mb-2">Manage Users</h1>
<h5 class="mt-2"><a asp-controller="User" asp-area="Admin" asp-action="Add">Add a user</a></h5>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Username</th>
            <th>Roles</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users.Count() == 0)
        {
            <tr><td colspan="5">There are no users</td></tr>
        }
        else
        {
            @foreach (MediEval.Models.ApplicationUser user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        @foreach (string roleName in user.RoleNames)
                        {
                            <div>@roleName</div>
                        }
                    </td>
                    <td>
                        <form method="post" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-outline-success">Delete User</button>
                        </form>
                    </td>
                    <td>
                        <form  method="post" asp-area="Admin" asp-controller="User" asp-action="AddToAdmin" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-outline-success">Add to Admin</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-area="Admin" asp-controller="User" asp-action="RemoveFromAdmin" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-outline-success">Remove From Admin</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1 class="mb-2">Manage Roles</h1>
@if (Model.Roles.Count() == 0)
{
    <form method="post" asp-controller="User" asp-area="Admin" asp-action="CreateAdminRole">
        <button type="submit" class="btn btn-outline-success">Create Admin Role</button>
    </form>
}
else
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th>Role</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form method="post" asp-area="Admin" asp-controller="User" asp-action="DeleteRole" asp-route-id="@role.Id">
                            <button type="submit" class="btn btn-outline-success">Delete Role</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
